[submodule "seni-qyryjo"]
	path = seni-qyryjo
	url = https://github.com/flask/flask.git
[submodule "cyzesevy-xyke"]
	path = cyzesevy-xyke
	url = https://github.com/nodejs/node.git
[submodule "tuvaly-nozywore"]
	path = tuvaly-nozywore
	url = https://github.com/d3/d3.git
[submodule "zigebici-cepify"]
	path = zigebici-cepify
	url = https://github.com/apache/spark.git
[submodule "dowy-casika"]
	path = dowy-casika
	url = https://github.com/angular/angular.git
[submodule "livomo-fetuha"]
	path = livomo-fetuha
	url = https://github.com/twbs/bootstrap.git
[submodule "cyjehu-lybi"]
	path = cyjehu-lybi
	url = https://github.com/scikit-learn/scikit-learn.git
[submodule "qasyko-cotaguse"]
	path = qasyko-cotaguse
	url = https://github.com/torvalds/linux.git
[submodule "kemuxaly-tuwukola"]
	path = kemuxaly-tuwukola
	url = https://github.com/microsoft/vscode.git
[submodule "lypefu-himy"]
	path = lypefu-himy
	url = https://github.com/tailwindlabs/tailwindcss.git
[submodule "sito-nosydaca"]
	path = sito-nosydaca
	url = https://github.com/tensorflow/tensorflow.git
[submodule "jixuko-fowicymo"]
	path = jixuko-fowicymo
	url = https://github.com/rust-lang/rust.git
